/* Reset  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

* a {
    color: #395137;
    text-decoration: none;
}

.clear-fix {
    clear: both;
}

/*
    Global
*/

body {
    background: rgb(230, 231, 232);

}

.container {
    width: 100%;
    margin: auto;
}

/* Header */

.logo-link {
    display: block;
    height: 30px;
    margin: 0 0 0 4%;
    padding-top: 10px;

    position: relative;
    z-index: 999;
}

.logo-link img {
    border: 1px solid #C7CAC8;
}

/*
Navigation
*/

.primary-nav {
    float: right;
    margin-right: 3%;
}

nav li {
    float: left;
    border-right: 1px solid white;
    text-transform: uppercase;
    list-style: none;
    background: rgb(199, 202, 200);
    text-align: center;
}

.primary-nav a {
    width: 150px;
    line-height: 28px;
    font-size: 16px;

    padding: 3px 1%;
    display: inline-block;

}

nav li:last-child {
    border: 0;
}

.production-list li:hover,
nav li:hover {
    background: rgb(57, 81, 55);
}

.production-list li:hover a,
nav li:hover a {
    color: white;
}

.production-list {
    position: relative;
    bottom: -350px;
    right: -40%;
}

.production-list li {
    float: left;
    list-style: none;
    width: 10.61%;
    background: rgb(128, 172, 125);
    text-transform: uppercase;
    text-align: center;
    border: 0;
    padding: 10px 0;
    line-height: 15px;

}

/*
    Content
*/

.main {
    text-align: justify;
    position: relative;
    min-height: 400px;
    background-size: cover;
    background: no-repeat center center;
    color: #395137;
    padding-top: 100px;
    padding-left: 40px;
}

.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6 {
    text-align: left;
    font-weight: normal;
}

.main h1 {
    font-size: 2.5em;
}

.main h2 {
    font-size: 1.7em;
}

.main h3 {
    font-size: 2.25em;
}

.csr, .farm, .management, .vision, .about-us, .white {
    color: white;
}

/* Backgrounds */
.home {
    background-image: url("../img/home.png");

}

.farm {
    background-image: url("../img/farm.jpg");
}

.management {
    background-image: url("../img/management.png");
}

.black-pepper {
    background-image: url("../img/products/black-pepper.png");
}

.clove {
    background-image: url("../img/products/clove.png");
}

.turmeric {
    background-image: url("../img/products/turmeic.png");
}

.ginger {
    background-image: url("../img/products/ginger.png");
}

.cashew-nut {
    background-image: url("../img/products/cashew-nut.png");
}

.cardamom {
    background-image: url("../img/products/cardamom.png");
}

.csr {
    background-image: url("../img/csr.png");

}

.vision {
    background-image: url("../img/vision.png");
}

.contact-us {
    background-image: url("../img/contact-us.jpg");
}

/* Content */
.content {
    position: relative;
    padding-left: 15px;
    width: 33%;
    max-width: 350px;
    min-height: 100%;
}

.content.large {
    width: 50%;
    max-width: 650px;
}

.content.medium {
    width: 40%;
    max-width: 500px;
}

.content h3 {
    margin-bottom: 10px;
}

.content p {
    font-size: 13px;
    padding: 10px 0;
}

.content li {
    width: 500px;
    font-size: 13px;
    margin-top: .6em;
}

/*
    Footer
*/

.main-footer {
    position: relative;
}

footer p {
    padding: 1.5% 0 1% 4%;
    clear: both;
}

/*
    About Page
*/
.about-us {
    background-image: url("../img/about-us.png");
}

/*
    Contact Page
*/

.contact-us .content {
    width: 100%;
    max-width: 1000px;
}

.contact-us form {
    margin-bottom: 20px;
    float: right;
    width: 50%;
}

.contact-us input, label {
    display: block;
    width: 90%;
}

.contact-us textarea {
    display: block;
    position: relative;
    width: 90%;
    padding: 10px 15px;
    margin: 8px 0;
}

.contact-us input {
    padding: 2px 15px;
    margin: 8px 0;
}

.contact-us h3 {
    text-align: left;
}

.contact-us #submit {
    color: #fff;
    background-color: #395137;
    border: 0;
    padding: 10px 25px;
    width: auto;
}

#all-address {
    float: left;
}

.contact-us .address .inner {
    border-right: 1px solid #395137;
    padding-right: 15px;
    margin-right: 15px;
}

.contact-us #all-address .address:last-child .inner {
    border: 0;
}

/*
    CSR Page
*/

.csr .content-list {
    margin-left: 7%;
}

.csr strong {
    font-weight: normal;
    color: red;
}

/*
Product Page
*/
.product h3 {
    text-align: center;
    line-height: 1.2em;
    position: relative;
}

.product .content {
    padding-left: 55px;
    padding-right: 55px;
}

a.control-prev, a.control-next {
    position: absolute;
    line-height: 1.2em;
    display: inline-block;
    padding: 2%;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

.white a.control-prev, .white a.control-next {
    color: #2a2a2a;
    background: #fff;
}

a.control-prev:hover, a.control-next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control-prev {
    border-radius: 0 2px 2px 0;
    left: 0;

}

a.control-next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

/*
Download Page
*/

.download {
    background: rgb(199, 202, 200);
}

/*
Scroll Bar
*/
.nano {
    height: 220px !important;
}

.nano > .nano-pane {
    right: auto;
    left: 0;
    width: 7px !important;
    /*top: 40px !important;*/
}

.list-unstyled {
    padding-top: 10px;
    margin-left: 4%;
    padding-left: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
    margin-bottom: 10px;
}

/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
    font-size: 0.9em;
}

/*Change icons circle size and color here*/
.social-icons .fa {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #000;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa {
    border-radius: 50%;
}

.social-icons.icon-rounded .fa {
    border-radius: 5px;
}

.social-icons.icon-flat .fa {
    border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
}

.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active {
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
    transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-adn:hover {
    background-color: #504e54;
}

.social-icons .fa-apple:hover {
    background-color: #aeb5c5;
}

.social-icons .fa-android:hover {
    background-color: #A5C63B;
}

.social-icons .fa-bitbucket:hover, .social-icons .fa-bitbucket-square:hover {
    background-color: #003366;
}

.social-icons .fa-bitcoin:hover, .social-icons .fa-btc:hover {
    background-color: #F7931A;
}

.social-icons .fa-css3:hover {
    background-color: #1572B7;
}

.social-icons .fa-dribbble:hover {
    background-color: #F46899;
}

.social-icons .fa-dropbox:hover {
    background-color: #018BD3;
}

.social-icons .fa-facebook:hover, .social-icons .fa-facebook-square:hover {
    background-color: #3C599F;
}

.social-icons .fa-flickr:hover {
    background-color: #FF0084;
}

.social-icons .fa-foursquare:hover {
    background-color: #0086BE;
}

.social-icons .fa-github:hover, .social-icons .fa-github-alt:hover, .social-icons .fa-github-square:hover {
    background-color: #070709;
}

.social-icons .fa-google-plus:hover, .social-icons .fa-google-plus-square:hover {
    background-color: #CF3D2E;
}

.social-icons .fa-html5:hover {
    background-color: #E54D26;
}

.social-icons .fa-instagram:hover {
    background-color: #A1755C;
}

.social-icons .fa-linkedin:hover, .social-icons .fa-linkedin-square:hover {
    background-color: #0085AE;
}

.social-icons .fa-linux:hover {
    background-color: #FBC002;
    color: #333;
}

.social-icons .fa-maxcdn:hover {
    background-color: #F6AE1C;
}

.social-icons .fa-pagelines:hover {
    background-color: #241E20;
    color: #3984EA;
}

.social-icons .fa-pinterest:hover, .social-icons .fa-pinterest-square:hover {
    background-color: #CC2127;
}

.social-icons .fa-renren:hover {
    background-color: #025DAC;
}

.social-icons .fa-skype:hover {
    background-color: #01AEF2;
}

.social-icons .fa-stack-exchange:hover {
    background-color: #245590;
}

.social-icons .fa-stack-overflow:hover {
    background-color: #FF7300;
}

.social-icons .fa-trello:hover {
    background-color: #265A7F;
}

.social-icons .fa-tumblr:hover, .social-icons .fa-tumblr-square:hover {
    background-color: #314E6C;
}

.social-icons .fa-twitter:hover, .social-icons .fa-twitter-square:hover {
    background-color: #32CCFE;
}

.social-icons .fa-vimeo-square:hover {
    background-color: #229ACC;
}

.social-icons .fa-vk:hover {
    background-color: #375474;
}

.social-icons .fa-weibo:hover {
    background-color: #D72B2B;
}

.social-icons .fa-windows:hover {
    background-color: #12B6F3;
}

.social-icons .fa-xing:hover, .social-icons .fa-xing-square:hover {
    background-color: #00555C;
}

.social-icons .fa-youtube:hover, .social-icons .fa-youtube-play:hover, .social-icons .fa-youtube-square:hover {
    background-color: #C52F30;
}
