@media (max-width: 950px) {
    header .logo-link {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        height: auto;
    }

    header a .logo {
        margin: 0;
        padding: 0;

    }

    .primary-nav {
        width: 90%;
        margin: 0 auto;
        display: block;
        float: none;
    }

    .primary-nav:after {
        content: '';
        display: block;
        clear: both;
    }

    .primary-nav li {
        display: inline-block;
        width: 25%;
        float: left;
        border-right: 0;
    }

    .primary-nav li a {
        border-right: 1px solid white;
        width: auto;
        text-align: center;
        display: block;
        padding: 0;
        margin: 0;
    }

    /* Content */
    .main {
        padding: 0;
    }

    .content {
        background: rgba(255, 255, 255, 0.6);
        max-width: 100%;
        width: 80%;
        margin: 0 auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .nano,
    .nano > .nano-content {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        height: auto !important;
    }

    /*
    Footer
    */
    .social-media {
        left: 0;
        float: none;
        width: 210px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 20px;
    }

    .social-media li {
        padding: 0 4px;
        margin: 0;
        float: left;
    }

    footer p {
        margin-top: 25px;
        text-align: center;
    }

}

@media (max-width: 550px) {

    .primary-nav li {
        width: 50%;
    }

    .primary-nav li a {
        border-bottom: 1px solid white;
    }
}