{% extends "base.twig" %}

{% block content %}
    <div class="main about-us">
        <div class="content large">
            <h3>REACHING OUT</h3>

            <p>
                Farmers Cargo is a unique profit sharing initiative committed to the welfare of the spices
                farmers of Kerala. Inspired by Late Mr. Ahamed Sulaiman Kochu, popularly known as 'KOCHUPPA' and
                his dedication to the cause of the farmers of Kerala spices. They raise one of the most
                cash-rich crops in the world but do not get a fair share in return.

            </p>

            <p>
                Yet, if we look into the history and present of Kerala Spices, it is a story of middlemen
                minting money. Farmers Cargo is a movement with a mission to reverse this exploitation. For
                Farmers Cargo Exporters, the core value is all about ‘sharing’ and not just ‘trading’ while
                ‘agricultural produce’ is a ‘livelihood for the farmers’ and not just a commodity to be bought
                and sold. And Farmers Cargo Exporters is an organization with a mission; it’s not just any other
                business.

            </p>
        </div>
    </div>
{% endblock %}