<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farmers Cargo Exporters, Kerala spice merchants</title>

    <meta name="description" content="Farmers Cargo - spice merchants of Kerala. Kerala Spices exporters, indian spices, Farmers Cargo Exporters, spices farmers of Kerala, farms to global markets platform." />
    <meta name="keywords" content="farmers cargo, farms,  spices exporters, spices merchants, asif ali, kerala spices, spices,indian spices,farmer making,farm products downloads, unviable farmers cargo , kerala india , global markets, high quality spices, trade  " />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/farmers-cargo.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>
<body>
<div class="container">

    <header class="header">
        <div>
            <a href="/index.php" class="logo-link">
                <img src="/img/logo.png" class="logo">
            </a>
        </div>

        <nav class="primary-nav">
            <ul>
                <li><a href="/about.php">about us</a></li>
                <li><a href="/vision.php">our vision</a></li>
                <li><a href="/management.php">management</a></li>
                <li><a href="/csr.php">what we do</a></li>
            </ul>
        </nav>
    </header>
    <div class="clear-fix"></div>
    <section class="content-container">
        {% block content %}
        {% endblock %}
    </section>

    <footer class="main-footer">
        <nav class="primary-nav">
            <ul>
                <li><a href="/farm.php">our farm</a></li>
                <li><a href="/production.php">products</a></li>
                <li><a href="/download.php">downloads</a></li>
                <li><a href="/contact-us.php">contact us</a></li>
            </ul>
        </nav>

        <section>
            <div class="social-icons">
                <ul class="social-icons icon-circle list-unstyled list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </section>
    </footer>

</div>
<script src="/js/jquery.js"></script>
{% block js %}
{% endblock %}
</body>
</html>
