{% extends "base.twig" %}

{% block content %}
    <div class="main contact-us white">

        <div class="content">
            <div class="left" style="float: left;">

                <h3>OUR ADDRESS</h3>

                <p>
                    Pullichalil Building <br>
                    Pezhakkappilly (P.O) <br>
                    Muvattupuzha. <br>
                    Tel: +91 485 2813456 <br>
                    Email: <a href="mailto:asifali@farmerscargo.com">asifali@farmerscargo.com</a>
                </p>
            </div>
            <form action="" class="right" style="float: right;">
                <h3>WANT TO PARTNER WITH US?</h3>
                <label for="fullname"> FULLNAME </label>
                <input id="fullname" name="fullname" required>
                <label for="email">EMAIL </label>
                <input type="text" id="email" name="email" required>
                <label for="phone">PHONE </label>
                <input type="number" min="10" id="phone" name="phone">
                <label for="phone">MESSAGE </label>
                <textarea id="message" name="message"></textarea>
                <input type="submit" id="submit" value="SENT MESSAGE">
            </form>

            <div class="clear-fix"></div>

        </div>
    </div>

{% endblock %}