{% extends "base.twig" %}

{% block content %}

    <div class="main csr">
        <div class="content large">
            <h3>The Farmers Cargo Way</h3>

            <p>
                Farmers Cargo Exports is not a business. It’s a mission to give back a little of what the world
                has taken from the ‘harvesters of the exotic’ . We help to build;
            </p>

            <ul class="content-list">
                <li>
                    <p>
                        A farms-to-markets platform. Spices collected from the farmers is processed and supplied
                        directly to the global markets.
                    </p>
                </li>
                <li>
                    <p>
                        A share of profit realized by Farmers Cargo Exporters is shared with the farmers over
                        and above the purchase price (local market rates).
                    </p>
                </li>
                <li>
                    <p>
                        A good part of the balance profit is spent on improving the agricultural practices &
                        value additions like organic farming and improving the work-life balance of the farmer’s
                        family by:
                    </p>
                    <ul>
                        <li>
                            <p>
                                Direct field work, meetings, interaction with agricultural universities &
                                research institutions, forming self-help groups etc.
                            </p>
                        </li>
                        <li>
                            <p>
                                Use of information technology through internet, mobile apps groups, sms etc to
                                provide weather forecasts, crop & soil nutrition management, disease alerts and
                                remedies, bio-technology news, market prices, lifestyle tips, health advice etc.
                                All in the local language.
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>




{% endblock %}