{% extends "base.twig" %}

{% block content %}

    <div class="main download">
        <div class="content">
            <h3>
                "Farming is a <br>profession of hope"
            </h3>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not es, and more recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        </div>




{% endblock %}