{% extends "base.twig" %}

{% block content %}



    <div class="main farm">
        <div class="content large">
            <h3>THE EXOTIC OFFER</h3>

            <p>
                The farm houses from whom we buy the produce are mostly owned by small farmers with no marketing
                reach beyond the local agent. They live in the lap of bountiful nature, away from the concrete
                jungles. For them farming is a way of life, serene and uncomplicated, inherited from their
                ancestors. Their motivation is to continue this legacy of being the proud producers of some of
                the premium spices grown on Planet Earth which we have chosen to showcase:
            </p>

            <ul>
                <li>BLACK PEPPER</li>
                <li>CLOVE</li>
                <li>TURMERIC</li>
                <li>CARDAMOM</li>
                <li>CASHEW</li>
                <li>GINGER</li>
            </ul>

            <p>
                Farmers Cargo can supply this in various sizes and packs according to the individual
                requirements.

            </p>
        </div>

    </div>


{% endblock %}