{% extends "base.twig" %}

{% block content %}
    <div class="main home">
        <div class="content large">
            <h3>
                FROM FARMS TO GLOBAL MARKETS
            </h3>

            <p>
                The spices of Kerala, India, have inspired many a voyages hunting for a bounty. The spice
                merchants of Kerala had trade had trade relations with the Arabian countries for centuries.
                Vasco de Gama, the Portuguese seafarer opened-up the direct sea route from Europe to India when
                he landed in Kerala way back in AD 1500 in search of the state’s fabulous treasure of high
                quality spices.

            </p>

            <p>
                From then to now, the history of Kerala Spices is the story of middlemen earning huge profits at
                the cost of the farmer, making the very means of his livelihood unviable. Farmers Cargo
                Exporters is a movement which gives back a little of what the world has taken from the spices
                farmers of Kerala by creating a farms to global markets platform.
            </p>
        </div>
    </div>
{% endblock %}