{% extends "base.twig" %}

{% block content %}
    <div class="main management">
        <div class="content large">
            <h3>WE ARE US</h3>

            <p>‘We’ at Farmers Cargo are a team of young professionals, experienced agriculturists and the
                ultimate stakeholder, the small farmer. We have our roots in rural Kerala, the southernmost
                state of India. A beautiful haven, famous for its fabulous treasure of spices. We are not
                middlemen who ‘buy’ the spices from farmers to earn maximum profits. We ‘share’ the profits with
                them.
            </p>

            <p>‘You’ are one of the dedicated group of buyers who not only want the Kerala spices for their high
                quality but also desire to contribute to a noble cause. You believe in right of better
                livelihood for one and all. No, you don’t have to pay anything extra, over and above the market
                prices. All we expect is dedicated patronage and help in spreading the mission and vision of the
                Farmers Cargo movement. Promote this outstanding initiative and make it a global movement with
                your support.
            </p>
        </div>

    </div>
{% endblock %}