{% extends "base.twig" %}

{% block content %}


    <div class="main product cashew-nut white">
        <div class="content medium">

            <h3>
                <a href="#" class="control-prev"><i class="fa fa-angle-left"></i></a>
                CASHEW NUTS
                <a href="#" class="control-next"><i class="fa fa-angle-right"></i></a>
            </h3>

            <p>Once, the cashew tree was considered as a source of firewood and a hardy plant ideal for preventing soil
                erosion. Surprisingly, the Cashew Nut itself was considered to be of no use and was thrown away. The
                cashew plant was introduced by the Portuguese to the people of Kerala who discovered and presented the
                Cashew Nut as one of the most delicious and nutrition-rich commodity to the world. </p>

            <p>Moreover, Cashew Nuts from Farmers Cargo Exporters are of a unique quality. They are grown in one of the
                most ideal cashew growing conditions in the world for one. Another reason is that the nuts of the
                highest grade are collected the traditional way. Mostly harvested from fresh cashew apples which at
                their ripest best fall down onto the ground. A rare practice nowadays, as the nuts are harvested
                directly from the trees for convenience.</p>

            <p>Hence, the Cashew Nuts from Farmers Cargo Exporters are top-of-the-line products and storehouse of
                nutrients. They contain high quality protein, fat, moisture, carbohydrates, phosphorus, calcium, iron
                and other minerals. More than 80% of the fat in Cashew Nut is unsaturated fatty acid which lowers the
                cholesterol level in blood.</p>


        </div>
    </div>


    <div class="main product black-pepper">
        <div class="content medium">

            <h3>
                <a href="#" class="control-prev"><i class="fa fa-angle-left"></i></a>
                BLACK PEPPER
                <a href="#" class="control-next"><i class="fa fa-angle-right"></i></a>
            </h3>

            <p>Sourcing Black Pepper is no big deal as it is grown in many regions across the globe. However, in the
                taste test by international experts, two varieties of Black Pepper sourced by Farmers Cargo Exporters
                stand out among the best in the world. They are Telicherry and Malabar black Pepper from Kerala.</p>

            <p>Tellicherry Black Pepper is, well, like world famous tomatoes from San Marzano. The place origin,
                Tellicherry on Kerala’s Malabar coast says it all. The rest remains well known and unsaid. They’re
                considered to be among the finest Black Pepper in the world because of balanced flavor and aroma. The
                Malabar Black Pepper also has its origin in the same growing conditions as Tellicherry, but has a
                warmer, spicier flavor and is darker in color. Both Telicherry and Malabar verities are favorites of the
                master chefs for the zing that zaps the fine diner.</p>

            <p>Apart from being the favorite of the kitchens of the world, Black Pepper has numerous health benefits
                which are known to few. They break down the proteins in the food, improving digestion and increasing
                absorption of nutrients. Also, Black Pepper protects from skin, bowel and colon cancer. It relieves
                anorexia, the dangerous food phobia, helps better absorption of drugs which work more effectively and
                are natural anti-depressant too. </p>
        </div>
    </div>

    <div class="main product cardamom white">
        <div class="content medium">

            <h3>
                <a href="#" class="control-prev"><i class="fa fa-angle-left"></i></a>
                CARDAMOM
                <a href="#" class="control-next"><i class="fa fa-angle-right"></i></a>
            </h3>

            <p>Known as the ‘queen of spices’ the Cardamom from Kerala is a global favourite for its unique fragrance.
                The high ranges of Kerala with its lush greenery are excellent habitat for growing the best quality
                Cardamom anywhere in the world. The environment helps the Cardamom crop mature at a pace selected by
                Mother Nature.</p>

            <p> Its unique flavour is the favourite of quality conscious buyer of the across the world. Often, they are
                mixed with cheaper crops from Guatemala and other countries to bring down the prices. However, the
                ‘real’ Cardamom buyer knows the quality of the Kerala Cardamom and there is ready market for this high
                quality produce. Farmers Cargo Exporters, being sons of the soil, bring you the Kerala Cardamom at its
                purest best from farms using time tested agricultural practices, a heritage which they maintain with a
                passion unmatched.</p>


        </div>
    </div>

    <div class="main product clove">
        <div class="content medium">

            <h3>
                <a href="#" class="control-prev"><i class="fa fa-angle-left"></i></a>
                CLOVE
                <a href="#" class="control-next"><i class="fa fa-angle-right"></i></a>
            </h3>

            <p>A premium product of Farmers Cargo Exporters, the Clove we procure are grown the conventional way, using
                ‘Mother of Clove Seeds’ which are hand-picked from fully ripe fruits and soaked in water for a couple of
                days. The farms have rich loamy and red soils with good draining and are located in cooler climate of
                altitudes of around 1,500 meters above sea level with evenly distributed rainfall of 150-300 mm. Just
                perfect for producing the best quality Cloves, which as whole or in powder form, are excellent as
                flavouring agents for both sweet and savory dishes. Clove oil also has medicinal properties and is
                widely used in dental care, oral and pharyngeal treatments, aromatherapy, manufacturing of tooth pastes,
                mouth wash, perfumes and soaps. Clove is useful in diabetic care too.</p>


        </div>
    </div>

    <div class="main product ginger white">
        <div class="content medium">

            <h3>
                <a href="#" class="control-prev"><i class="fa fa-angle-left"></i></a>
                GINGER DRY
                <a href="#" class="control-next"><i class="fa fa-angle-right"></i></a>
            </h3>

            Ginger farming in India is almost exclusive to Kerala which produces most of the crop in India. Farmers
            Cargo Exporters bring you the world famous Kerala Ginger, both the Cochin and Calicut verities,
            preferred for its exotic aroma and pungency, thanks to its low fibre content. The crop from our small
            farmers are flat-side-peeled unlike crops from other countries. Natural sun drying adds to the top of
            the line quality. So much so, that more than 90% of Ginger produced in Kerala is exported to quality
            conscious markets across the globe. Mainly used to spice-up the cuisines of the world, Kerala Ginger
            also has wide and varied medicinal and cosmetic use in form of condiments, oils and oleoresins.

        </div>
    </div>

    <div class="main product turmeric white">
        <div class="content medium">

            <h3>
                <a href="#" class="control-prev"><i class="fa fa-angle-left"></i></a>
                TURMERIC
                <a href="#" class="control-next"><i class="fa fa-angle-right"></i></a>
            </h3>
            In medieval Europe, Turmeric was known as Indian Saffron. India is the world's leading producer of Turmeric
            with some of the best qualities coming from Kerala. Like the Alleppey Finger and Pratibha. These verities
            are favourite of the international buyers for higher levels of Curcumin (around 7%), Oleoresin (more
            than16%) and Essential Oil (above 6%) when grown under Kerala conditions. In fact these properties make them
            the first choice for culinary, industrial and medicinal uses the world over.

        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        jQuery(function ($) {

            var jSlides = $('.main');
            var iCount = jSlides.length;
            var iCurrent = 0;

            jSlides.hide();
            $(jSlides[iCurrent]).show();

            function show(current, next) {
                var nextSlide = $(jSlides[next]);
                var currentSlide = $(jSlides[current]);


                currentSlide.fadeOut(function () {
                    nextSlide.fadeIn(function () {
                    });
                });

            }

            function moveLeft() {
                var current, next;
                current = iCurrent;

                iCurrent -= 1;
                if (iCurrent < 0) {
                    iCurrent = iCount - 1;
                }
                next = iCurrent;
                show(current, next);
            }

            function moveRight() {
                var current, next;
                current = iCurrent;
                iCurrent += 1;
                if (iCurrent >= iCount) {
                    iCurrent = 0;
                }
                next = iCurrent;

                show(current, next);
            }

            $('a.control-prev').click(function () {
                moveLeft();
                return false;
            });

            $('a.control-next').click(function () {
                moveRight();
                return false;
            });

        });
    </script>
{% endblock %}
