{% extends "base.twig" %}

{% block content %}
    <div class="main vision">
        <div class="content large">
            <h3>
                BEYOND BUSINESS
            </h3>

            <p>
                We, the entire Farmers Cargo Exporters team, by mind & body, heart & soul dedicate
                ourselves to:
            </p>

            <ul>
                <li>Create a farm house to world markets platform for the rural farmer, avoiding the
                    middlemen.
                </li>

                <li>Give even the smallest of the farmers the advantage of large volume trading through
                    pooling of produce from a large number of farms.
                </li>

                <li>Share a portion of the profits with the farmers.</li>

                <li>Create value-addition of the farm output for the maximum befit of the farmers.

                </li>

                <li>Keep the heritage of farming alive so that becomes a legacy for generations who will
                    be motivated to live in the lap of nature and the freedom it offers.
                </li>

                <li>Be the leader in its field.</li>

                <li>Establish a strong bond with the all the stakeholders which will last for generations.</li>

                <li>Liaison and PR with various government organisations and media for maximum
                    benefit of the farmers.
                </li>

                <li>Improve the socio-economic life of the farmers.</li>
                <li>Take the concept of this movement across other crops, expand the scope to pan-
                    India in near future and to other developing nations on a longer term.
                </li>
            </ul>
        </div>

    </div>
{% endblock %}